<ng-container *ngIf="business; else loading">
  <div class="introduction">
    <h2 class="title">Polo {{business?.name}}</h2>
    <p class="description">
      exibindo detalhes do polo {{business?.name}}#{{business?.id}}
    </p>
  </div>

  <form class="form" [formGroup]="businessForm" (ngSubmit)="onSubmit()">
    <fieldset class="address" formGroupName="address">
      <p>Detalhes do endereço</p>
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" maskCep (change)="onChangeCep()" type="text" maxlength="10"
          placeholder="CEP">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome da Rua</mat-label>
        <input matInput formControlName="street" type="text" placeholder="Nome da Rua" [disableControl]="isLoading">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="neighborhood" type="text" placeholder="Bairro" [disableControl]="isLoading">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="city" type="text" placeholder="Cidade" [disableControl]="isLoading">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="state" type="text" placeholder="Estado" [disableControl]="isLoading">
      </mat-form-field>

    </fieldset>

    <fieldset class="company" formGroupName="company">
      <p>Detalhes da Empresa</p>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" type="text" maxlength="20" placeholder="Nome">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Negócio</mat-label>
        <input matInput formControlName="business" type="text" placeholder="Negócio">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Avaliação</mat-label>
        <input matInput formControlName="valuation" type="text" placeholder="Avaliação">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input formControlName="cnpj" matInput maskCnpj type="text" autocomplete="off" maxlength="18"
          placeholder="CNPJ">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ativo?</mat-label>
        <mat-select formControlName="active">
          <mat-option *ngFor="let situation of ['Sim', 'Não']" [value]="situation == 'Sim'">
            {{situation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>

    <div class="button-group">
      <button mat-flat-button color="accent" appGoBack type="button">
        Voltar
      </button>
      <button mat-flat-button color="primary" [disabled]="!businessForm.valid">
        Salvar
      </button>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
