<ng-container *ngIf="business; else loading">
  <div class="introduction">
    <h2 class="title">{{'edit.title' | translate}} {{business?.name}}</h2>
    <p class="description">
      {{ 'edit.description' | translate }}
      {{business?.name}}#{{business?.id}}
    </p>
  </div>

  <form class="form" [formGroup]="businessForm" (ngSubmit)="onSubmit()">
    <fieldset class="address" formGroupName="address">
      <p>{{'edit.address' | translate}}</p>
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" maskCep (change)="onChangeCep()" type="text" maxlength="10"
          placeholder="CEP">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'address.street' | translate}}</mat-label>
        <input matInput formControlName="street" type="text" placeholder="Nome da Rua" [disableControl]="isLoading">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'address.neighborhood' | translate}}</mat-label>
        <input matInput formControlName="neighborhood" type="text"
          [attr.placeholder]="'address.neighbohood' | translate" [disableControl]="isLoading">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'address.city' | translate}}</mat-label>
        <input matInput formControlName="city" type="text" [attr.placeholder]="'address.city' | translate"
          [disableControl]="isLoading">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'address.state' | translate}}</mat-label>
        <input matInput formControlName="state" type="text" [attr.placeholder]="'address.state' | translate"
          [disableControl]="isLoading">
      </mat-form-field>

    </fieldset>

    <fieldset class="company" formGroupName="company">
      <p>{{'edit.company' | translate}}</p>

      <mat-form-field appearance="outline">
        <mat-label>{{'business.name' | translate}}</mat-label>
        <input matInput formControlName="name" type="text" maxlength="20" placeholder="Nome">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'business.business' | translate}}</mat-label>
        <input matInput formControlName="business" type="text" [attr.placeholder]="'business.business' | translate">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'business.valuation' | translate}}</mat-label>
        <input matInput formControlName="valuation" type="text" [attr.placeholder]="'business.valuation' | translate">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input formControlName="cnpj" matInput maskCnpj type="text" autocomplete="off" maxlength="18"
          placeholder="CNPJ">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'business.active' | translate}}</mat-label>
        <mat-select formControlName="active">
          <mat-option *ngFor="let situation of ['Sim', 'Não']" [value]="situation === 'Sim'">
            {{situation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>

    <div class="button-group">
      <button mat-flat-button color="accent" appGoBack type="button">
        {{ 'edit.back' | translate }}
      </button>
      <button mat-flat-button color="primary" [disabled]="!businessForm.valid">
        {{ 'edit.save' | translate }}
      </button>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
