@use 'mixins' as *;

.header {
  height: 100px;
  border-bottom: 3px solid #FF7A23;
}

.content {
  @include content;
  height: 100%;
  margin: auto;
  display: grid;
  grid: 1fr / 100px 500px;
  justify-items: start;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 98px;
  cursor: pointer;
}

.header-menu {
  height: 80%;
  display: grid;
  grid-template-columns: 50px 2px 180px;
  place-items: center;
  justify-self: end;
}

.divider {
  height: 60%;
  border-right-style: solid;
  border-right-color: #333331;
  border-right-width: 1px;
}
