<div class="introduction">
  <h2 class="title">Polos Itaú</h2>
  <p class="description">confira abaixo alguns dos principais polos Itau</p>
</div>

<form class="form">
  <mat-form-field appearance="outline">
    <input matInput class="search" type="search" placeholder="Pesquisar...">
  </mat-form-field>
</form>

<div class="table-container">
  <table *ngIf="businesses.length" mat-table [dataSource]="businesses" class="mat-elevation-z8 business-table">

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Nome</th>
      <td mat-cell *matCellDef='let business'>{{business.name}}</td>
    </ng-container>

    <ng-container matColumnDef="business">
      <th *matHeaderCellDef mat-header-cell>Negócio</th>
      <td mat-cell *matCellDef='let business'>{{business.business}}</td>
    </ng-container>


    <ng-container matColumnDef="valuation">
      <th *matHeaderCellDef mat-header-cell>Avaliação</th>
      <td mat-cell *matCellDef='let business'>{{business.valuation}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th *matHeaderCellDef mat-header-cell>Situação</th>
      <td mat-cell *matCellDef='let business'>
        <div class="indicator" [class.active]="business.active"></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>Ação</th>
      <td mat-cell *matCellDef='let business'>
        <a routerLink="/business/edit">
          <mat-icon class="edit-icon material-icons-outlined" aria-hidden="false" aria-label="edit business"
            (click)="goToBusiness(business.id)">
            visibility
          </mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>

</div>
