<div class="introduction">
  <h2 class="title">{{ 'home.title' | translate }}</h2>
  <p class="description">{{ 'home.description' | translate}}</p>
</div>

<form class="form">
  <mat-form-field appearance="outline">
    <input matInput class="search" type="search" [attr.placeholder]="'home.search' | translate" (input)="filterSearch()"
      [(ngModel)]="search" name="search">
  </mat-form-field>
</form>

<div class="table-container">
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8 business-table">

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{ 'business.name' | translate}}</th>
      <td mat-cell *matCellDef='let business'>{{business.name}}</td>
    </ng-container>

    <ng-container matColumnDef="business">
      <th *matHeaderCellDef mat-header-cell>{{'business.business' | translate}}</th>
      <td mat-cell *matCellDef='let business'>{{business.business}}</td>
    </ng-container>


    <ng-container matColumnDef="valuation">
      <th *matHeaderCellDef mat-header-cell>{{'business.valuation' | translate}}</th>
      <td mat-cell *matCellDef='let business'>
        {{business.valuation | currency: currency}}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th *matHeaderCellDef mat-header-cell>{{ 'business.active' | translate}}</th>
      <td mat-cell *matCellDef='let business'>
        <div class="indicator" [class.active]="business.active"></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>{{'business.action' | translate}}</th>
      <td mat-cell *matCellDef='let business'>
        <mat-icon class="edit-icon material-icons-outlined" aria-hidden="false" aria-label="edit business"
          (click)="goToBusiness(business.id)">
          visibility
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

  </table>

  <app-pagination (setDataSource)="setPagination($event)">
  </app-pagination>

</div>
