// Custom theme for Itau Exam
@use '@angular/material' as mat;
@use 'functions' as *;

// custom pallet for itau orange colors
$itau-light-primary: (
  50: #fff9e6,
  100: #ffefbe,
  200: #ffe0cc,
  300: #ffdb70,
  400: #ffd159,
  500: #ffca52,
  600: #ffbd4d,
  700: #ffab48,
  800: #ff9c46,
  900: #fa8241,
  A100: #fa8241,
  A200: #fa8241,
  A400: #fa8241,
  A700: #fa8241,
);

// custom pallet for itau gray colors
$itau-light-accent: (
  50: #f9f9f9,
  100: #f3f3f3,
  200: #eaeaea,
  300: #dbdbdb,
  400: #b8b8b8,
  500: #989898,
  600: #6f6f6f,
  700: #5c5c5c,
  800: #3d3d3d,
  900: #1d1d1d,
);

// TODO: build custom warning pallet for itau brand

// default contrast for itau primary pallet
$itau-light-contrast: #fff;

// create contrast map with same color for all variations
// TODO: need to setup each variation to math the pallet color

// merge primary and contrast
$itau-light-primary: add-contrast($itau-light-primary, $itau-light-contrast);
$itau-light-accent: add-contrast($itau-light-accent, $itau-light-contrast);

// build the custom theme
$palette-light-primary: mat.define-palette($itau-light-primary, 900, 900, 900);
$palette-light-accent: mat.define-palette($itau-light-accent, 500, 500, 500);
$palette-light-warn: mat.define-palette(mat.$red-palette);

// TODO: define dark theme
$light: mat.define-light-theme((
  color: (
    primary: $palette-light-primary,
    accent: $palette-light-accent,
    warn: $palette-light-warn
  )
));

$light-background: (
  app-bar: #FFE0CC,
  background: #FBFBFB
);

// Use custom background replacing the default light material theme
$light: add-background($light, $light-background);

$dark: mat.define-dark-theme((
  color: (
    primary: mat.$indigo-palette,
    accent: mat.$green-palette,
    warn: mat.$red-palette
  )
));

// $dark: add-background($dark, $test-background);
