// Main style file with global settings
// Follow the sass guideline https://sass-guidelin.es/
@charset 'utf-8';

@use '@angular/material' as mat;
@use 'base';
@use 'theme';
@use 'typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();
@include mat.all-component-themes(theme.$light);

.dark-theme {
  @include mat.all-component-colors(theme.$dark)
}
