// Main style file with global settings
// Follow the sass guideline https://sass-guidelin.es/
@charset 'utf-8';

@use '@angular/material' as mat;
@use 'theme';
@use 'typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-action .mat-simple-snackbar {
  justify-content: center;
}

.mat-snackbar-container {
  background-color: tomato;
}

.warn {
  color: white;
  //background-color: map-get(theme.$light, primary, default)
}

@include mat.core();

//@debug mat.get-color-config(theme.$dark);

@include mat.all-component-themes(theme.$light);

.dark-theme {
  @include mat.all-component-colors(theme.$dark)
}
